<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace就是与此文件对应的接口的全路径-->
<mapper namespace="demo.mapper.ActionDao" ><!-- 就是这个接口来调用下面 -->
  <select id="selectAllaction" resultType="Action"><!-- 获得所有用户 -->
    select * FROM action;
  </select>
 </mapper>